@import 'mixins/team-colors.scss';
@mixin centered($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    }
    @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    }
}

@mixin centered-relative($horizontal: true, $vertical: true) {
    position: relative;
    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    }
    @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    }
}

.radios {
    label {
        display: block;
    }
}

.team {
    p {
        width: 235px;
    }
}

body {
    background-color: #263238;
    color: white;
}

.nav-item {
    cursor: pointer;
}

.player-menu {
    padding: 50px;
    border: gray 1px solid;
    border-radius: 0px 7px 7px 7px;
    background-color: rgba(255, 255, 255, 0.116);
    margin-top: 0px;
    display: none;
    &.active {
        display: block;
    }
}

.player-wrap {
    padding: 10px;
    .player {
        padding: 5px 15px 0px 15px;
        border-width: 1px;
        border-style: solid;
        border-radius: 7px;
        background-color: rgba(255, 255, 255, 0.116);
        font-size: 1.2em;
        p {
            display: inline-block;
            &:nth-of-type(2) {
                float: right;
                color: rgb(177, 177, 177)
            }
        }
        img {
            @include centered-relative(true, false);
            width: 80%;
        }
    }
}

.btn-primary {
    background-color: #41b0ac;
    border-color: #41b0ac;
}

.nav {
    width: 100%;
    border-color: #424a4f;
    z-index: 10;
    border-bottom: none;
    .nav-link {
        border-bottom: none;
        color: gray;
        &:hover,
        &:focus {
            border-color: transparent;
            color: white;
        }
        &.active {
            background-color: #424a4f;
            border-color: gray;
            color: white;
        }
    }
}